.title
  %p 患者一覧
.body
  %table
    %tr
      %th 名前
      %th 読み
      %th 初回
      %th 誕生日
      %th email
      %th 電話番号
    - @patients.each do |patient|
      %tr
        %td
          = link_to patient_path(patient.id) do
            = patient.name
        %td
          = patient.kana
        %td
          未実装
        %td
          未実装
        %td
          = patient.email
        %td
          = patient.phone
  = link_to new_patient_path do
    患者登録