.main_container
  .main_container__top
    -# %patient 患者一覧
  .main_container__bottom
    .main_container__bottom__content
      %table
        %tr.table_row
          %th.th_normal  名前
          %th.th_normal  読み
          %th.th_narrow  誕生日
          %th.th_narrow  年齢
          %th.th_narrow  性別
          %th.th_normal  郵便番号
          %th.th_normal  住所1
          %th.th_normal  住所2
          %th.th_wide    email
          %th.th_narrow  電話番号
        - @patients.each do |patient|
          %tr
            %td
              = link_to patient_path(patient.id) do
                = patient.name
            %td
              = patient.kana
            %td
              = patient.birthday
            %td
              = patient.age
            %td
              -# = patient.sex
            %td
              = patient.zipcode
            %td
              -# = patient.address1
            %td
              -# = patient.address2
            %td
              = patient.email
            %td
              = patient.phone