.title
  %p 患者登録
  = link_to patients_path do
    患者一覧
  = link_to reservations_path do
    予約一覧
= form_for @patient do |f|
  = f.text_field :name, placeholder: "名前"
  = f.text_field :kana, placeholder: "よみ"
  = f.text_field :phone, placeholder: "電話"
  = f.text_field :email, placeholder: "email"
  = f.submit "登録する"