.title
  %p 患者詳細
.body
  %table
    %tr
      %th 名前
      %th 読み
      %th 初回
      %th 誕生日
      %th email
      %th 電話番号
    %tr
      %td
        = @patient.name
      %td
        = @patient.kana
      %td
        未実装
      %td
        未実装
      %td
        = @patient.email
      %td
        = @patient.phone
  .logbox
    = form_for @log, url: patient_logs_path(@patient.id) do |f|
      = f.text_field :text, placeholder: "記録"
      = f.submit "送信"
  .preview
    - @logs.each do |log|
      .text
        = log.created_at.strftime('%Y/%m/%d')
        = log.text