.main_container
  .main_container__top
    %p 患者詳細
  .main_container__bottom
    .main_container__bottom__content
      %table
        %tr.table_row
          %th.th_normal  名前
          %th.th_normal  読み
          %th.th_narrow  誕生日
          %th.th_narrow  年齢
          %th.th_narrow  性別
          %th.th_normal  郵便番号
          %th.th_normal  住所1
          %th.th_normal  住所2
          %th.th_wide    email
          %th.th_narrow  電話番号
        %tr
          %td
            = @patient.name
          %td
            = @patient.kana
          %td
            = @patient.birthday
          %td
            = @patient.age
          %td
            = @patient.sex
          %td
            = @patient.zip
          %td
            = @patient.address1
          %td
            = @patient.address2
          %td
            = @patient.email
          %td.table_data
            = @patient.phone
          %td
            = link_to "[修正]", "/patients/#{@patient.id}/edit"
          %td
            = link_to "[削除]", "/patients/#{@patient.id}", method: :delete
    .main_container__bottom__content
      = "#{@patient.name}さんの今後の予約"
      - @rsvs.each do |rsv|
        .main_container__bottom__content--next_rsv
          = "#{rsv.date} #{rsv.schedule.time}"
          = link_to "[編集]", "/reservations/#{rsv.id}/edit"
          = link_to "[削除]", "/reservations/#{rsv.id}", method: :delete
    .main_container__bottom__content
      = form_for @log, url: patient_logs_path(@patient.id) do |f|
        = f.text_field :text, placeholder: "記録"
        = f.submit "送信"
      - @logs.each do |log|
        .text
          = log.created_at.strftime('%y/%m/%d')
          = log.text